fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
pdfplumber==0.11.0
python-docx==1.1.2
joblib==1.4.2
scikit-learn==1.5.0
scipy==1.13.0
numpy==1.26.4
supabase==2.5.0
python-jose[cryptography]==3.3.0
pydantic==2.7.1
